@charset 'utf-8';

html, body {
    overflow: hidden
}

body {
    font-family: Nanum Gothic, Malgun Gothic;
    font-size: 13px
}

.wrap {
    position: relative;
    width: 100%;
    top: 0
}

.header {
    position: fixed;
    top: 35px;
    left: 50%;
    width: 1100px;
    margin-left: -550px;
    z-index: 9999;
    overflow: hidden
}

.header h1 {
    float: left
}

.header h1 a {
    display: block;
    width: 116px;
    height: 41px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/images/img_2016//logo_white.png)
}

.header .gnb {
    float: right;
    margin-top: 26px
}

.header .gnb li {
    float: left;
    margin-left: 75px
}

.header .gnb li:first-child {
    margin: 0
}

.header .gnb li a {
    display: block;
    height: 15px;
    /*text-indent: -9999px;*/
    overflow: hidden
}

.header .gnb li:first-child a {
    width: 53px;
    background: url(/images/img_2016//gnb01.png)
}

.header .gnb li:first-child + li a {
    width: 57px;
    background: url(/images/img_2016//gnb02.png)
}

.header .gnb li:first-child + li + li a {
    width: 56px;
    background: url(/images/img_2016//gnb03.png)
}

.header .gnb li:first-child + li + li + li a {
    width: 66px;
    background: url(/images/img_2016//gnb04.png)
}

.header .gnb li:first-child + li + li + li + li a {
    width: 70px;
    background: url(/images/img_2016//gnb05.png)
}

.header .gnb li:first-child.on a {
    background: url(/images/img_2016//gnb01_on.png)
}

.header .gnb li:first-child + li.on a {
    background: url(/images/img_2016//gnb02_on.png)
}

.header .gnb li:first-child + li + li.on a {
    background: url(/images/img_2016//gnb03_on.png)
}

.header .gnb li:first-child + li + li + li.on a {
    background: url(/images/img_2016//gnb04_on.png)
}

.header .gnb li:first-child + li + li + li + li.on a {
    background: url(/images/img_2016//gnb05_on.png)
}

.header.black h1 a {
    background: url(/images/img_2016//logo_red.png)
}

.header.black .gnb li:first-child a {
    background: url(/images/img_2016//gnb01_black.png)
}

.header.black .gnb li:first-child + li a {
    background: url(/images/img_2016//gnb02_black.png)
}

.header.black .gnb li:first-child + li + li a {
    background: url(/images/img_2016//gnb03_black.png)
}

.header.black .gnb li:first-child + li + li + li a {
    background: url(/images/img_2016//gnb04_black.png)
}

.header.black .gnb li:first-child + li + li + li + li a {
    background: url(/images/img_2016//gnb05_black.png)
}

.header.black .gnb li:first-child.on a {
    background: url(/images/img_2016//gnb01_on.png)
}

.header.black .gnb li:first-child + li.on a {
    background: url(/images/img_2016//gnb02_on.png)
}

.header.black .gnb li:first-child + li + li.on a {
    background: url(/images/img_2016//gnb03_on.png)
}

.header.black .gnb li:first-child + li + li + li.on a {
    background: url(/images/img_2016//gnb04_on.png)
}

.header.black .gnb li:first-child + li + li + li + li.on a {
    background: url(/images/img_2016//gnb05_on.png)
}

.headerWrap.black {
    background: url(/images/img_2016//bg_header.png)
}

div[class * ="section0"] {
    position: relative;
    overflow: hidden
}

.section01 {
    /*display:none;*/
    background-color: #e2332e
}

.section01 .inner {
    position: relative;
    width: 100%;
    margin-top: 200px
}

.section01 .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-top: -540px;
    height: 1080px;
    z-index: 0
}

.section01 .bg li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 1080px;
    overflow: hidden
}

.section01 .bg li:first-child {
    background: url(/images/img_2016//visual_main01.jpg);
    background-size: auto 100%
}

.section01 .bg li.on {
    position: absolute;
    top: 0;
    left: 0%
}

.section01 .bg li * {
    display: block;
    height: 1080px
}

.horiz_sl {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1100px;
    margin-left: -550px;
    z-index: 1
}

.horiz_sl .txt {
    position: relative;
    width: 508px;
    height: 282px;
    margin: 0 auto
}

.horiz_sl .txt li {
    display: none;
    position: absolute;
    top: 0;
    left: 0
}

.horiz_sl .txt li.on {
    display: block
}

.horiz_sl > a {
    position: absolute;
    top: 170px
}

.horiz_sl > a.prev {
    left: 0
}

.horiz_sl > a.next {
    right: 0
}

.horiz_sl .paging {
    margin-top: 80px;
    text-align: center
}

.horiz_sl .paging a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: url(/images/img_2016//btn_paging_sl.png)
}

.horiz_sl .paging a.on {
    background: url(/images/img_2016//btn_paging_sl_on.png)
}

.section02 {
    /*display:none;*/
    background: #272b2e;
    font-weight: Verdana
}

.section02 > .inner {
    margin-top: 150px
}

.works_menu {
    width: 380px;
    margin: 0 auto
}

.works_menu li {
    float: left;
    margin-left: 15px;
    padding-left: 17px;
    background: url(/images/img_2016//dot_gray.gif) no-repeat left center
}

.works_menu li:first-child {
    margin: 0;
    padding: 0;
    background: none
}

.works_menu li a {
    display: block;
    height: 17px;
    overflow: hidden;
    text-indent: -9999px
}

.works_menu li:first-child a {
    width: 15px;
    background: url(/images/img_2016//btn_works_menu01.png)
}

.works_menu li:first-child + li a {
    width: 48px;
    background: url(/images/img_2016//btn_works_menu02.png)
}

.works_menu li:first-child + li + li a {
    width: 68px;
    background: url(/images/img_2016//btn_works_menu03.png)
}

.works_menu li:first-child + li + li + li a {
    width: 63px;
    background: url(/images/img_2016//btn_works_menu04.png)
}

.works_menu li:first-child + li + li + li + li a {
    width: 56px;
    background: url(/images/img_2016//btn_works_menu05.png)
}

.works_menu li:first-child.on a {
    background: url(/images/img_2016//btn_works_menu01_on.png)
}

.works_menu li:first-child + li.on a {
    background: url(/images/img_2016//btn_works_menu02_on.png)
}

.works_menu li:first-child + li + li.on a {
    background: url(/images/img_2016//btn_works_menu03_on.png)
}

.works_menu li:first-child + li + li + li.on a {
    background: url(/images/img_2016//btn_works_menu04_on.png)
}

.works_menu li:first-child + li + li + li + li.on a {
    background: url(/images/img_2016//btn_works_menu05_on.png)
}

.sl_wrap {
    position: relative;
    width: 1100px;
    margin: 30px auto 0
}

.sl_wrap > a {
    position: absolute;
    top: 174px
}

.sl_wrap > a.prev {
    left: -80px
}

.sl_wrap > a.next {
    right: -80px
}

.sl_wrap .paging {
    margin-top: 20px;
    text-align: center
}

.sl_wrap .paging a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: url(/images/img_2016//btn_paging_sl.png)
}

.sl_wrap .paging a.on {
    background: url(/images/img_2016//btn_paging_sl_on.png)
}

.works_cont {
    position: relative;
    width: 100%; /*height:560px;*/
    overflow: hidden; /* overflow-x:auto*/
}

.works_cont .inner {
    position: relative;
    height: 500px
}

.works_cont .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    background: none
}

.works_cont .scroll .handle {
    height: 20px;
    background: red
}

.ongoing {
    float: left;
    position: relative;
    width: 250px;
    color: #fff
}

.ongoing .img {
    position: relative;
    width: 250px;
    height: 430px;
    overflow: hidden
}

.ongoing .img li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%
}

.ongoing .img li.on {
    left: 0%
}

.ongoing .img li img {
    display: block;
    width: 100%
}

.ongoing .txt {
    position: relative;
    width: 250px
}

.ongoing .txt li {
    display: none;
    position: absolute;
    top: 0;
    left: 0
}

.ongoing .txt li.on {
    display: block
}

.ongoing div {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center
}

.ongoing div a {
    display: inline-block;
    width: 11px;
    height: 11px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/images/img_2016//btn_paging.png)
}

.ongoing div a.on {
    width: 30px;
    background: url(/images/img_2016//btn_paging_on.png)
}

.works_item {
    float: right
}

.works_item ul {
    position: relative
}

.works_item li {
    position: absolute;
    width: 250px;
    color: #fff
}

.works_item li .item {
    position: relative;
    width: 250px;
    height: 230px
}

.works_item li .item + .item {
    margin-top: 80px
}

.works_item li .item img {
    display: block;
    width: 100%
}

.works_item li .item .over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 225px
}

.works_item li .item .over > * {
    position: absolute;
    left: 20px
}

.works_item li .item .over img {
    left: 0;
    width: 100%
}

.works_item li .item .over p {
    top: 21px;
    font-size: 12px
}

.works_item li .item .over p strong {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -1px
}

.works_item li .item .over a {
    bottom: 25px
}

.ongoing .txt li p,
.works_item li .item .works p {
    margin-top: 20px;
    font-size: 11px
}

.ongoing .txt li p strong,
.works_item li .item .works p strong {
    display: block;
    font-size: 15px;
    font-weight: normal
}

.section03 {
    background: url(/images/img_2016//bg_section01.png), url(/images/img_2016//bg_section01_top.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-color: #eff2f6
}

.fuzlog {
    position: relative;
    width: 100%
}

.fuzlog ul {
    position: relative;
    width: 1100px;
    height: 490px;
    margin: 180px auto 0
}

.fuzlog li {
    float: left;
    margin-left: 20px
}

.fuzlog li:first-child {
    margin-left: 0px
}

.fuzlog li:first-child + li + li + li,
.fuzlog li:first-child + li + li + li + li {
    margin-top: 20px
}

.fuzlog li:first-child + li + li + li .fuzlog_item div,
.fuzlog li:first-child + li + li + li + li .fuzlog_item div {
    top: auto;
    bottom: 0
}

.fuzlog li img {
    display: block
}

.fuzlog .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    background: none
}

.fuzlog .scroll .handle {
    height: 20px;
    background: black
}

.fuzlog_item {
    position: relative;
    width: 330px;
    height: 235px
}

.fuzlog_item .plate {
    display: block;
    position: relative;
    z-index: 0
}

.fuzlog_item .hover,
.fuzlog_item div {
    display: none;
    position: absolute;
    top: 0;
    left: 0
}

.fuzlog_item .hover {
    width: 330px;
    height: 235px;
    z-index: 1;
    background: url(/images/img_2016//bg_discover.png) center center
}

.fuzlog_item div {
    width: 330px;
    height: 490px;
    z-index: 2
}

.fuzlog_item div a {
    position: absolute;
    top: 25px;
    right: 25px
}

.section04 {
    background: #171b1f url(/images/img_2016//bg_section04.jpg) center top
}

.section04 .inner {
    position: relative;
    width: 1100px;
    margin: 190px auto 0; /*padding:0 20px*/
}

.section04 .inner p {
    padding-top: 70px
}

.section04 .inner .bulb {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 564px;
    height: 745px;
    text-align: right;
    background: url(/images/img_2016//bulb_yellow.png) no-repeat;
    background-size: 100%
}

.section04 .inner .bulb img {
    display: block;
    width: 100%
}

.section04 .sl04 {
    position: absolute;
    top: 560px;
    left: 50%;
    width: 1100px;
    margin-left: -550px
}

.section04 .sl04 .img_ul {
    width: 100%;
    overflow: hidden
}

.section04 .sl04 .img_ul ul {
    position: relative;
    width: 2200px
}

.section04 .sl04 li {
    float: left;
    width: 1100px
}

.section04 .sl04 li img {
    float: left;
    display: block;
    margin: 0 4px 4px 0;
    border: 1px solid #626567
}

.section04 .sl04 li img:nth-of-type(6n) {
    margin-right: 0
}

.section04 .sl04 > a {
    position: absolute;
    top: 40%;
    margin-top: -42px
}

.section04 .sl04 > a.prev {
    left: -80px
}

.section04 .sl04 > a.next {
    right: -80px
}

.section04 .sl04 .paging {
    margin-top: 11px;
    text-align: center
}

.section04 .sl04 .paging a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: url(/images/img_2016//btn_paging_sl.png)
}

.section04 .sl04 .paging a.on {
    background: url(/images/img_2016//btn_paging_sl_on.png)
}

.section05 {
    background: #e2332e
}

.section05 .inner {
    width: 1100px;
    margin: 200px auto 0
}

.section05 .inner ul {
    width: 100%
}

.section05 .inner ul li {
    float: left;
    position: relative;
    width: 28%;
    height: 115px;
    border-right: 1px dashed #ffe7e7
}

.section05 .inner ul li a {
    position: absolute;
    top: 0;
    right: 24px
}

.section05 .inner ul li > * {
    margin-left: 32px
}

.section05 .inner ul li:first-child > * {
    margin-left: 0
}

.section05 .inner ul li:first-child + li {
    width: 30%
}

.section05 .inner ul li:first-child + li > * {
    margin-left: 30px
}

.section05 .inner ul li:first-child + li + li {
    width: 41%;
    border: 0
}

.section05 .inner ul li p {
    margin-top: 20px;
    line-height: 1.4;
    color: #ffe7e7
}

.section05 .inner .address {
    margin-top: 40px;
    padding-bottom: 3px;
    font-size: 16px;
    color: #ffe7e7
}

.section05 .inner .address img {
    position: relative;
    top: 3px;
    margin-right: 20px
}

.section05 .inner .map {
    margin-top: 20px
}

.updown {
    position: fixed;
    top: 45%;
    right: 20px;
    margin-top: -113px;
    z-index: 9999
}

.updown a {
    display: block;
    width: 56px;
    height: 29px;
    background-position: center center;
    background-repeat: no-repeat
}

.updown li {
    position: relative;
    width: 56px;
    height: 29px;
    margin-top: 20px
}

.updown li:first-child {
    margin: 0
}

.updown li:first-child a {
    background:#fff;
}

.updown li:first-child + li a {
    background:lime;
}

.updown li:first-child + li + li a {
    background:yellow;
}

.updown li:first-child + li + li + li a {
    background:skyblue
}

.updown li:first-child + li + li + li + li a {
    background:pink;
}

.updown li.on a {
    position: absolute;
    top: 0;
    right: 0;
    width: 118px;
    margin-left: 0
}

.updown li:first-child.on a {
    background-image: url(/images/img_2016//btn_right01_on.png)
}

.updown li:first-child + li.on a {
    background-image: url(/images/img_2016//btn_right02_on.png)
}

.updown li:first-child + li + li.on a {
    background-image: url(/images/img_2016//btn_right03_on.png)
}

.updown li:first-child + li + li + li.on a {
    background-image: url(/images/img_2016//btn_right04_on.png)
}

.updown li:first-child + li + li + li + li.on a {
    background-image: url(/images/img_2016//btn_right05_on.png)
}

.section04 .sl04 ul:after,
.section05 .inner ul:after,
.section04 > ul:after,
.fuzlog ul:after,
.works_item ul:after,
.works_cont:after,
.works_menu:after,
.horiz_sl ul li .text:after,
.header .gnb:after,
.header:after {
    content: '';
    display: block;
    clear: both
}

#mobile .pc {
    display: none
}

@media screen and (max-width:1024px) {

    .header,
    .horiz_sl {
        width: 960px;
        margin-left: -480px
    }

    .updown {
        right: -10px
    }

    .sl_wrap {
        width: 960px
    }

    .ongoing,
    .ongoing .img {
        width: 219px;
        height: 377px
    }

    .works_item li,
    .works_item li .item,
    .works_item li .item .over {
        width: 220px;
        height: 198px
    }

    .ongoing .txt li p, .works_item li .item .works p {
        margin-top: 14px
    }

    .works_cont,
    .works_cont .inner {
        height: 445px
    }

    .fuzlog ul {
        width: 960px
    }

    .fuzlog li:first-child {
        width: 350px
    }

    .fuzlog li img {
        width: 100%
    }

    .fuzlog li {
        margin-left: 16px
    }

    .fuzlog_item,
    .fuzlog_item .hover {
        width: 289px;
        height: 206px
    }

    .fuzlog li:first-child + li + li + li,
    .fuzlog li:first-child + li + li + li + li {
        margin-top: 17px
    }

    .fuzlog_item div {
        width: 289px;
        height: 429px
    }

    .section04 .inner {
        width: 960px
    }

    .section04 .inner .bulb {
        width: 464px;
        height: 624px
    }

    .section04 .sl04 .img_ul ul {
        width: 1920px
    }

    .section04 .sl04 .img_ul ul li {
        width: 960px
    }

    .section04 .sl04 {
        top: 520px;
        width: 960px;
        margin-left: -480px
    }

    .section04 .sl04 li img {
        width: 155px;
        margin: 0 3px 3px 0
    }

    .section04 .inner p {
        margin-top: 40px
    }

    .section04 .inner p img {
        width: 456px
    }

    .section05 .inner {
        width: 960px;
        margin-top: 170px
    }

    .section05 .inner ul li p {
        font-size: 11px
    }

    .section05 .inner .address {
        font-size: 12px;
        margin-top: 15px
    }

    .section05 .inner .map img {
        width: 960px
    }
}


